<div class="product-form-container">
  <h2>{{ editMode ? 'Edit Product' : 'Add Product' }}</h2>
  <form #form="ngForm" (ngSubmit)="saveProduct(form)" novalidate>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="product.name" name="name" required minlength="3" #name="ngModel" autocomplete="name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
        <div *ngIf="name.errors?.required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" [(ngModel)]="product.description" name="description" required minlength="10" #description="ngModel" autocomplete="off">
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-message">
        <div *ngIf="description.errors?.required">Description is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" [(ngModel)]="product.quantity" name="quantity" required min="1" #quantity="ngModel" autocomplete="off">
      <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="error-message">
        <div *ngIf="quantity.errors?.required">Quantity is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" [(ngModel)]="product.price" name="price" required min="0.01" step="0.01" #price="ngModel" autocomplete="off">
      <div *ngIf="price.invalid && (price.dirty || price.touched)" class="error-message">
        <div *ngIf="price.errors?.required">Price is required.</div>
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid">{{ editMode ? 'Update' : 'Save' }}</button>
  </form>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>